.spacing{
  margin: 15px 20px;
}

.radio-spacing{
  margin-right: 9px;
}

.description{
  font-size: 12px;
  line-height: 14.06px;
  color: #7C7C7C;
}

label{
  font-size: 14px;
  font-weight: 400;
}

.price{
  line-height: 19.07px;
}
